<%- include("../partials/header") %> <%- include("../partials/navbar") %>

<div class="container mt-3 mb-3">
  <%- include("../partials/flash") %>

  <div class="row bg p-2">
    <div class="col-md-8 m-auto">
      <form
        action="/register"
        method="POST"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3">
          <label for="userName" class="form-label">ชื่อผู้ใช้งาน</label>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="ชื่อผู้ใช้งาน"
            required
          />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Email"
            required
          />
        </div>

        <div class="mb-3">
          <input
            type="hidden"
            class="form-control"
            name="user"
            value="User"
            required
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">รหัสผ่าน</label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="รหัสผ่าน "
            required
          />
        </div>

        <button class="btn btn-primary">สร้างบัญชี</button>
        <br />
        <p class="mt-2">
          <a class="text-warning" href="/signin" style="text-decoration: none"
            >หากมีบัญชีแล้ว กดที่นี้เพื่อเข้าสู่ระบบ</a
          >
      </form>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
