<%- include("../partials/header") %> <%- include("../partials/navbar") %>

<div class="container pt-3 pb-3">
  <%- include("../partials/flash") %>

  <div class="card m-auto bg-dark text-warning" style="width: 60%">
    <div class="text-center fs-2 p-2">Transaction Successfull</div>
    <div class="text-center m-auto">
      <i class="far fa-check-circle"></i>
    </div>

    <div class="row mt-5 fw-bold p-3">
      <center><p> จ่ายแล้ว </p></center>
    </div>

    <a class="btn btn-info p-3 m-3" href="/products">Go Back</a>
  </div>
</div>
<%- include("../partials/footer") %>
