body {
  height: 100vh;
  background-image:url('../uploads/wall.jpg');
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
.cover-container {
  max-width: 90vw;
}

.fa-shopping-bag {
  padding: 5px;
}

.nav-link {
  font-weight: 700;
  font-size: 1.3rem;
  color: #ffffff;
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
  color: #ff0000;
  border-bottom-color: rgba(0, 0, 0, 0.5);
}

.nav-link.active {
  color: #80ffdb;
  border-bottom-color: white;
}

.btn-secondary,
.btn-secondary:hover {
  color: #333;
  text-shadow: none;
}
