<%- include("../partials/header") %> <%- include("../partials/navbar") %>

<div class="container mt-3 mb-3">
  <%- include("../partials/flash") %>

  <div class="row bg p-2">
    <div class="col-md-8 m-auto">
      <form
        action="/products"
        method="POST"
        enctype="multipart/form-data"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >ชื่อสินค้า</label
          >
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="ชื่อสินค้า"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >ลิงค์รูปสินค้า
          </label>
          <input
            type="text"
            class="form-control"
            name="imgtext"
            placeholder="ลิงค์รูปสินค้า"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">ราคา</label>
          <input
            type="number"
            class="form-control"
            name="price"
            placeholder="ราคา"
            required
          />
        </div>
        <!-- <div class="mb-3">
          <label for="exampleInputStock" class="form-label">Stock</label>
          <input
            type="number"
            class="form-control"
            name="product[stock]"
            placeholder="Product Stock"
            required
          />
        </div> -->

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >รายละเอียดสินค้า</label
          >
          <textarea
            class="form-control"
            rows="4"
            name="desc"
            placeholder="รายละเอียดสินค้า"
            required
          ></textarea>
        </div>

        <button class="btn btn-primary">บันทึก</button>
      </form>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
